
*
{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
.flexcenter
{
    display: flex;
    justify-content: center;
    align-items: center;
}


.homep
{
	color: #fff;
	overflow: hidden; 
	border-right: .15em solid #87CEEB;
	white-space: nowrap; 
	margin-left: 10px;
	letter-spacing: .1em; 
	animation: 
	  typing 3.5s steps(20, end) infinite,
	  blink-caret .5s step-end infinite;
}

@keyframes typing {
	from { width: 0 }
	to { width: 46% }
}

@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: #87CEEB }
}

.signup
{
 	background: url(assets/dog-photo.webp);
	background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    width: 100%;
	height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
	background-attachment: scroll;
	background-position: center;
}
.hero {
    background: #000; 
    color: #fff;
    width: 100%;
    max-height: 100%;
   
    padding: 20px 0; 
}

.container {
    max-width: 700px; 
    width: 100%;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; 
    margin: 20px auto; 
}

.paybill
{
	border-collapse: collapse;
	border-radius: 10px;
	overflow: hidden;
	
}
.pat
{
	display: flex; 
	justify-content: flex-end; 
	padding:10px; 
	font-size: 18px;
	color: red;
	font-weight: 600;
}
.paybill thead
{
	background-color: #87CEEB;
}
.paybill tbody
{
		border: 1px solid #87CEEB;
	
}
.paybill th 
{
	width: auto;
	height: 10px;
	padding: 15px;
	text-align: center;
}
.paybill td
{
	width: auto;
	height: auto;
	padding: 13px;
	text-align: center;
	
}
.paybill .ps
{
	width: auto;
}

.container:hover {
    transform: scale(1.02);
}

.container .title {
    font-size: 30px;
    font-weight: 600;
    text-align: center; 
    margin-bottom: 20px;
    color: #87CEEB; 
}

h2 {
    text-align: center;
    color: #333333;
    font-size: 1.8em; 
    margin-bottom: 20px; 
}

.user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-box {
    margin-bottom: 20px; 
    width: calc(100% / 2 - 10px); 
}

.input-box input.form-control {
    height: 40px; 
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 14px;
    transition: all 0.3s ease;
}

.input-box input.form-control:focus {
    border-color: #24a1ac; 
    box-shadow: 0 0 8px rgba(36, 161, 172, 0.5);
}

.details {
    display: block;
    font-weight: 800;
    margin-bottom: 5px;
}

.sbutton button {
    height: 40px;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 10px;
    letter-spacing: 1px;
    padding: 5px;
    background: linear-gradient(135deg, #00bfff, #87CEEB);
}

nav {
    font-weight: 700;
    background: black;
    padding: 10px 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

nav ul {
    width: 100%;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative; 
}

nav ul li a {
    color: #87CEEB;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
}

.button button:hover {
    background: linear-gradient(-135deg, #000000, #87CEEB); 
}



footer {
    text-align: center;
    margin-top: 20px;
    color: #555;
}

.logo 
{
    height: 50px;
    border-radius: 50%;
	width: 50px;
}