<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Existing Pets</title>
    <link rel="icon" href="../static/assets/icon.png">

    <link rel="stylesheet" href="../static/style.css"> 
</head>
<body>
    <div class="hero">
        <nav>
            <a href="home.html"><img class="logo" src="../static/assets/logo.jpg"></a>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('pet_list') }}">View Existing Pets</a></li>
                <li><a href="{{ url_for('add_pet') }}">Add Pet</a></li>
            </ul>
        </nav>
    </div>
    <div class="signup">
    <div class="container">
        <div class="title">Existing Pets
        </div>

        <table class="paybill" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for pet in pets %}
                    <tr>
                        <td>{{ pet.name }}</td>
                        <td>{{ pet.age }}</td>
                        <td>{{ pet.pet_type }}</td>
                        <td style="display: flex; justify-content: center;">
                            <form method="POST" action="{{ url_for('remove_pet', pet_id=pet.id) }}">
                                <div class="sbutton" ><button type="submit" >Remove</button></div>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<footer style="display: flex;justify-content: center;">
        <p>&copy; {{ current_year }} Pet Management System</p>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const currentYear = new Date().getFullYear();
            document.querySelector('footer p').textContent = `© ${currentYear} Pet Management System`;
        });
    </script>
</body>
</html>
